# Bazel build files
bazel-*
/bazel-bin/
/bazel-out/
/bazel-testlogs/
/bazel-CookingApp/
.bazelversion

# General system files
.DS_Store
Thumbs.db
Desktop.ini
*.log
*.pem

# IDEs and editors
.idea/
.vscode/
*.sw?

# Others (add as needed)
.cache

# local env files
.env*.local